<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/practicestyle.css">
    <link rel="shortcut icon" href="{{url_for('static',  filename = 'bolt.ico')}}">
    <title>web app</title>
</head>
<body>
    <h1>this is my webpage</h1>
    <p> welcome {{name}} this is your page  and {{post}} is your post_id </p>
    <h2>go</h2>

    <script src="static/practicescript.js"></script>
</body>
</html>